<mat-card>
  <mat-card-content>
    <mat-toolbar>Get schedule for school</mat-toolbar>

    <data-table [columns]="columns"
                [data]="schedule"
                enablePagination
                selectionType="none">
      <div actions>
        <mat-form-field>
          <input matInput [ngModel]="schoolId" (ngModelChange)="patternChanged.next($event)" name="schoolId" type="number" min="1" placeholder="School ID" />
        </mat-form-field>
      </div>
    </data-table>



  </mat-card-content>
</mat-card>
