
<!--<div fxLayout="row" fxFlex="100%">
  <mat-card-content fxFlex="700px">
    <div>
      <data-table [columns]="columns"
                  [data]="schools"
                  enablePagination
                  selectionType="none"
                  [editIcon]="'info_outline'"
                  [actionType]="'edit'"
                  (onEdit)="onEdit($event)">
        <div actions>

        </div>
      </data-table>
    </div>
  </mat-card-content>
</div>-->

<h1 matDialogTitle>{{city.name}} schools</h1>
<div mat-dialog-content fxLayout="column" fxLayoutGap="10px">
  <data-table [columns]="columns"
              [data]="schools"
              enablePagination
              selectionType="none"
              [editIcon]="'info_outline'"
              [actionType]="'edit'"
              (onEdit)="onEdit($event)">
    <div actions>

    </div>
  </data-table>
 
</div>
